#about,
#portfolio,
#skills,
#hero,
.projects-heading,
.project-list {
  margin: 30px;
}
#skills {
  padding-bottom: 20px;
}
.navbar-nav {
  margin-right: 20px; /* Adjust the margin as needed */
}

.navbar-brand {
  margin-left: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 1000;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-info a {
  margin: 0 10px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Grid with auto-fit columns */
  gap: 20px; /* Gap between grid items */
}

.project-card {
  color: black;
}
#portfolio-header {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 30px;
  background-color: rgb(38, 28, 93);
}

.profile-info {
  display: flex;
  align-items: center;
}

.text-info {
  text-align: left;
}
